<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Properties>
        <Property name="app_id">${env:USERNAME}</Property>
        <Property name="log_path">logs</Property>
        <Property name="pattern">${app_id}-%d{yyyy-MM-dd HH:mm:ss,SSS}|%-5level|%t|%c{5.}.%M:%L|%replace{%msg}{\s+}{ }%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>
        <File name="debug_file" fileName="${log_path}/jp_debug.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="info_file" fileName="${log_path}/jp_info.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="error_file" fileName="${log_path}/jp_error.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.viki" level="error" />
        <Root level="error">
            <!--<AppenderRef ref="info_file" />-->
            <AppenderRef ref="error_file" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>